*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-500:#101828;
    --text-color-400:#667085;
    --logo-text-color:#3A404E;
    --background: #fff;
    --background-section:rgba(196, 25, 25, 0.03);
    --background-footer: #F9FAFB;
    --color-contrast: #8E2424;
    --color-contrast-tittle: rgba(142, 36, 36, 0.05);
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background: var(--background);
    font-family: "Inter", sans-serif;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 80px;   
}

ul{
    display: flex;
    list-style: none;
    color: var(--text-color-400);
    gap: 32px;
    margin-left: 119px;
}

.logotipo {
    display: flex;
    justify-content: center;
    margin-left: 112px;
    align-items: center;
    gap: 8px;
    color: var(--logo-text-color); 
}

.cta {
    display: flex;
    align-items: center;
    margin-left: 398px;
    margin-right: 112px;
    gap: 30px;
    color:var(--text-color-400);
}

button{
    padding: 10px 18px;
    gap: 8px;    
    width: 112px;
    height: 44px;   
    color: #fff;
    font-size: 1rem; 
    font-weight: 600;
    background: var(--color-contrast);
    border: 1px solid var(--color-contrast);
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
}

.header span{
    font-weight: 600;
    color: var(--color-contrast);
}

.header h1{
    font-weight: 600;
    color: var(--text-color-500);
}

.header p{
    font-weight: 400;
    color: var(--text-color-400);
    text-align: center;
}

.metrics{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 96px;
    gap: 64px;
}

.metricas_gerais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    gap: 64px;
}

.metrics h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--color-contrast);
}

.metrics h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color-500);
}

.metrics p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-400);
}

.vacancies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 64px;
}

.intro{
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.intro span{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-contrast);

    background-color: var(--color-contrast-tittle);
    width: 125px;
    height: 28px;
    padding: 4px 12px;
    border-radius:16px ;
}

.intro h2{
    font-size: 36px;
    color: var(--text-color-500);
}

.intro p{
    font-size: 20px;
    color: var(--text-color-400);
    padding-bottom: 64px;
}

.vagas_abertas {
    width: 1280px;
    height: auto;
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 24px;
}

.area {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 24px;
}

.título_area{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-500);
    padding: calc(32px - 24px);
}

.infos_vaga{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px;
    gap: 24px;
    width: 768px;

    background-color: var(--background-footer);
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.título_vaga{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-500);
}

.descricao_vaga{
    display: flex;
    flex-direction: row;    
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-400);
    gap: 24px;
}

.depoimentos_info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px;
    background-color: var(--color-contrast-tittle);
    
    margin: 0px 96px 112px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.texto span{
    font-size: 14px ;
    font-weight: 600 ;
    color: var(--color-contrast);
}

.texto h1{
    font-size: 36px;
    font-weight:500;
    text-align: center;
    color: var(--text-color-500);
}

.perfil_funcionario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome_usuario{
    font-size:16px;
    font-weight: 500;
    color: var(--text-color-500);
    padding-top: 16px;
}

.cargo {
    font-size:14px;
    font-weight: 400;
    color: var(--text-color-400);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0px;
    background-color: var(--background-footer);
}

.footer_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

footer h1{
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color-500);
}

footer p{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color-400);
}

form input{
    margin-right: 16px;
    padding: 12px 14px 12px 16px;
    width: 360px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

footer span{
    font-size: 16px;
    font-weight: 400;
    color: #98A2B3;
}